.details-car-card {
    height: 550px;
    margin-top: 100px;
    &__brand {
        color: $white-primary;
        border-bottom: 4px solid #03DAC5;
    }
    &__description {
        font-size: 40px;
        line-height: 30px;
        color: $white-primary !important;
        &-title {
            font-size: 40px;
        }
    }
    .first-letter {
        color: #03DAC5;
    }
    &__cta {
        @media screen and (max-width: 740px) {
            display: flex;
            flex-flow: column;
            justify-items: center;
            justify-content: center;
            align-items: center;
        }
        button {
            width: 100%;
            margin-bottom: 20px;
            letter-spacing: 3px;
            font-size: 32px;
            color: $white-primary;
            &:hover {
                background-color: $primary;
            }
        }
        a {
            text-decoration: none;
            width: 100%;
            &:hover {
                color: $white-primary;
            }
        }
        button {
            padding: 8px 16px;
        }
        @include for-phone-only {
            &.mx-3 {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }
        }
    }
    &__image-wrapper {
        height: 100%;
        img {
            height: 100%;
            width: 100%
        }
    }
    @include for-phone-only {
        &.mx-3 {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
    }
    &__hasFavourite {
        margin-right: 12px;
        @include for-phone-only {
            flex-direction: column !important;
        }
    }
    &__favourite {
        font-size: 32px;
        margin-bottom: 12px;
        line-height: 30px;
    }
    &__icon {
        font-size: 32px;
        margin-bottom: 12px;
    }
}