.details-car-card {
    margin-top: 30px;
    &__brand {}
    &__description {
        font-size: 22px;
    }
    &__cta {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @media screen and (max-width: 740px) {
            display: flex;
            flex-flow: column;
            justify-items: center;
            justify-content: center;
            align-items: center;
            @for $i from 1 through 3 {
                button:nth-child(3n + #{$i}) {
                    width: 70%;
                }
            }
        }
        button {
            width: 45%;
            margin-bottom: 20px;
            &:hover {
                background-color: $primary;
            }
        }
        a {
            text-decoration: none;
            font-size: 20px;
            color: $white-primary;
            &:hover {
                color: $white-primary;
            }
        }
    }
    &__image-wrapper {
        height: 100%;
        img {
            height: 100%;
            width: 100%
        }
    }
    @include for-phone-only {
        &.mx-3 {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
    }
}