.details-car-card {
    border: solid 1px $secondary;
    border-radius: 8px;
    margin-top: 30px;
    &__brand {}
    &__description {
        font-size: 22px;
    }
    &__cta {
        button {
            width: 33%;
            margin-bottom: 20px;
            &:hover {
                background-color: $primary;
            }
        }
        a {
            text-decoration: none;
            font-size: 20px;
            color: $white-primary;
            &:hover {
                color: $white-primary;
            }
        }
    }
    &__image-wrapper {
        height: 100%;
        img {
            height: 100%;
            width: 100%
        }
    }
}