main {
    background-color: $grullo-color;
    min-height: 94.6vh;
}

.register-form {
    border: 3px solid $umber-color;
    border-radius: 12px;
    background-color: $secondary;
    min-height: 700px;
    width: 600px;
    @include for-phone-only {
        border: none;
        border-radius: 0px;
    }
    label {
        color: $grullo-color;
        font-size: 20px;
        padding-bottom:4px;
        margin-top:12px;
    }

    input{
        padding-top:12px;
        padding-bottom:12px;
    }
    input[placeholder]{
        font-size:24px;
    }
    &__title {
        color: $white-primary;
        border-bottom: 1px solid $grullo-color;
        width: 100%;
        text-align: center;
    }
    &__group {
        width: 80%;
    }
    &__button {
        width: 80%;
        border-radius: 8px;
        color: $white-primary !important;
        background-color: $umber-color !important;
        padding:10px 18px !important;
        font-size : 28px !important;
        letter-spacing: 3px;
        text-transform: uppercase;
        &:hover {
            transition: .5s ease-out;
            background-color: $primary !important;
            color: $white-primary !important;
        }
    }
}