<main class="col-lg-12 col-sm-12 d-flex justify-content-center align-items-center">
    <div class='details-car-card mx-3 my-5'>
        <h1 class="details-car-card__brand text-center text-white">Audi</h1>
        <p class="details-car-card__description text-center text-white">Fast as the winter</p>
        <div class="details-car-card__cta">
            <button class="btn btn-secondary"><a href="/cars/{{_id}}/delete">Delete</a></button>
            <button class="btn btn-secondary"><a href="/cars/{{_id}}/edit">Edit</a></button>
            <button class="btn btn-secondary"><a href="/cars/{{_id}}/buy">Buy</a></button>
            <button class="btn btn-secondary"><a href="/cars/{{_id}}/addToFavourites">Add to favourites</a></button>
        </div>
        <div class='details-car-card__image-wrapper'>
            <img src='https://img.drivemag.net/media/default/0001/98/audi-r8-v10-2096-default-large.jpeg' />
        </div>
    </div>
</main>