<main class="col-lg-12 col-sm-12 d-flex justify-content-center align-items-center flex-wrap">
  {{#each favouriteCars}}
    {{>car-card}}
    {{else}}
    <p>You have not added any car to your favourites yet!</p>
    {{/each}}
</main>