<main class="col-lg-12 col-sm-12 d-flex flex-row justify-content-center align-items-center flex-wrap">
    {{#each cars}}
    {{>car-card}}
    {{else}}
    <p>You don't have any cars yet!</p>
    {{/each}}
</main>
