$primary: #0A0908;
$secondary: #22333B;
$white-primary: #F2F4F3;
$grullo-color: #A9927D;
$umber-color: #5E503F;
$primary-purple: #FF00FF;
$primary-blue: #00FFFF;
$light: $white-primary;
$dark: $primary;