<main class="col-lg-12 col-sm-12 d-flex flex-row justify-content-start flex-wrap">
    <form class="search-form d-flex flex-column" method="GET">
        <input type="search-form__input" name="text" value="" placeholder="Enter brand to search...">
        <button class="search-form__submit btn btn-secondary">Search</button>
    </form>

  <section class="find-section d-flex justify-content-center align-items-center mx-3 flex-wrap">
         {{#each cars}} 
         {{> car-card}} 
         {{else}} 
        <div class="find-section__notFound-wrapper">
            <p class="find-section__notFound-description">No match was found for the submitted brand...</p>
        </div>
        {{/each}} 
    </section>
</main>