<main>
    <form class="search" method="GET">
        <input type="search" name="text" placeholder="Search here...">
        <button type="submit btn btn-secondary">Search</button>
    </form>

    <section id="find-section">
        /* {{#each cars}} {{> car-card}} {{else}} */
        <div class="no-data-listing">
            <p class="no-offer">No match was found for the submitted type...</p>
        </div>
        /* {{/each}} */
    </section>
</main>