.car-card {
    border: solid 1px $secondary;
    height: 300px;
    width: 300px;
    border-radius: 8px;
    margin-top: 30px;
    &__brand {
        border-bottom: solid 1px $umber-color;
    }
    &__description {
        font-size: 22px;
    }
    &__cta {
        a {
            text-decoration: none;
            font-size: 20px;
            &:hover {
                background-color: $primary;
            }
        }
    }
    &__image-wrapper {
        height: 100%;
        img {
            height: 100%;
            width: 100%
        }
    }
}