.search-form {
    height: 200px;
    border-radius: 6px;
    margin-top: 200px;
    margin-left: 50px;
    @include for-phone-only {
        margin-left: 8px;
        input[placeholder] {
            font-size: 28px !important;
        }
    }
    &__input {}
    input[placeholder] {
        font-size: 40px;
        color: $primary;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-align: center;
        padding-top: 12px;
    }
    &__submit.btn {
        color: $white-primary;
        background-color: $secondary;
        padding: 12px 24px;
        font-size: 32px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.find-section__notFound {
    &-wrapper {}
    &-description {
        font-size: 32px;
        text-align: center;
        color: $primary;
    }
}