.carousel-item {
    min-height: 100vh;
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 180px;
    bottom: auto;
}

.trade-section__wrapper {
    margin-top: 120px;
    @media screen and (max-width: 625px) {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            margin-bottom: 80px;
            margin-top: 0px;
        }
    }
}

.trade-section__link {
    background-color: $grullo-color;
    padding: 40px 60px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 40px;
    text-decoration: none;
    margin-top: 120px;
    &:hover {
        color: $white-primary;
    }
    @media screen and (max-width:625px) {
        & {
            padding: 10px 30px;
            line-height: 30px;
        }
    }
}

.carousel-title {
    &__1 {
        &-span {
            color: $grullo-color;
        }
    }
    font-size:120px;
    font-weight:thin;
    word-spacing: 20px;
    font-family: 'Bangers',
    cursive;
    color:#03DAC5;
    @include for-tablet-landscape-up {
        font-size: 60px;
    }
    @media screen and (max-width:800px) {
        font-size: 40px;
    }
    @include for-phone-only {
        font-size: 30px;
        margin-bottom: 0px;
        word-spacing: 5px;
    }
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon {
    height: 100%;
}

.carousel-control-next-icon {
    font-size: 40px;
}

@media screen and (min-width:750px) and (max-width:1000px) {
    .carousel-item img {
        width: 100%;
        height: 800px !important;
    }
    .carousel-control-prev-icon {
        margin-bottom: 500px;
    }
    .carousel-control-next-icon {
        margin-bottom: 500px;
    }
}

@media screen and (max-width:750px) {
    .carousel-item img {
        width: 100%;
        height: 600px;
    }
    .carousel-control-prev-icon {
        margin-bottom: 700px;
    }
    .carousel-control-next-icon {
        margin-bottom: 700px;
    }
}

@media screen and (max-width: 470px) {
    .carousel-item img {
        width: 100%;
        min-height: 500px;
    }
    .carousel-control-prev-icon {
        margin-bottom: 800px;
    }
    .carousel-control-next-icon {
        margin-bottom: 800px;
    }
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}