<div id="carouselExampleControls" class="carousel slide min-vh-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-sm-block">
                    <h5 class="carousel-title carousel-title__1">Europe’s <span class="carousel-title__1-span">largest</span> wholesale <span class="carousel-title__1-span">platform</span> for cars</h5>
                    <div class="trade-section__wrapper"><a class="trade-section__link" href="#trade-section">Check cars for sale</a></div>
                </div>
                <img class="d-block w-100" src="https://i.pinimg.com/originals/ec/38/87/ec38872c0aff96240703e32e0903b886.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-sm-block">
                    <h5 class="carousel-title carousel-title__1">Europe’s <span class="carousel-title__1-span">largest</span> wholesale <span class="carousel-title__1-span">platform</span> for cars</h5>
                    <div class="trade-section__wrapper"><a class="trade-section__link" href="#trade-section">Check cars for sale</a></div>
                </div>
                <img class="d-block w-100" src="https://wallpaperaccess.com/full/45726.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-sm-block">
                    <h5 class="carousel-title carousel-title__1">Europe’s <span class="carousel-title__1-span">largest</span> wholesale <span class="carousel-title__1-span">platform</span> for cars</h5>
                    <div class="trade-section__wrapper"><a class="trade-section__link " href="#trade-section">Check cars for sale</a></div>
                </div>
                <img class="d-block w-100" src="https://images5.alphacoders.com/375/thumb-1920-375840.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
</div>


<main class="col-lg-12 col-sm-12 d-flex flex-row justify-content-center align-items-center flex-wrap" id="trade-section">
    {{#each cars}}
    {{>car-card}}
    {{else}}
    <p>There are no cars for sale at the moment!</p>
    {{/each}}
</main>